{% extends "base.html.twig" %}
{% block title %}Réinitialisation mot de passe
{% endblock %}
{% block body %}
	<main class="mainDemandeReset">
		<div class="back">
			<span class="material-symbols-outlined">
				<a href="{{path('accueil')}}">

					arrow_back</a>
			</span>


		</div>

		<section class="demandeReset">
			<div class="demandeResetTitre">
				<h1>Envoyer un email de réinitialisation</h1>
			</div>
			<div class="demandeResetContent">
				<form class="demandeResetContentForm" method="post" action="{{path('demandeReset')}}">
					<div class="demandeResetContentFormInput">
						<input type="email" name="mail" placeholder="Email" required>
						<div class="demandeResetContentFormInputError">
							{% if error is defined %}
								<div>
									<ul>
										{% for errorMessage in error %}
											<li id="error_c">{{ errorMessage|raw }}</li>
										{% endfor %}
									</ul>
								</div>
							{% endif %}
							<span id="error">Merci de remplir tous les champs</span>
						</div>

						{% if success is defined and success is not empty  %}
							<div class="demandeResetContentFormInputSuccess">
								<div>
									<p id="success">{{ success }}</p>
								</div>
							</div>
						{% endif %}


					</div>
					<button class="demandeResetContentFormButton" type="submit">Envoyer</button>

				</form>

			</div>
		</section>
	</main>

{% endblock %}
{% block javascripts %}
	<script src="{{ asset('js/security.js') }}"></script>
{% endblock %}
