{% extends "base.html.twig" %}
{% block title %}Réinitialisation mot de passe
{% endblock %}
{% block body %}
	<main class="mainReset">
		<div class="back">
			<span class="material-symbols-outlined">
				<a href="{{path('accueil')}}">

					arrow_back</a>
			</span>


		</div>

		<section class="reset">
			<div class="resetTitre">
				<h1>Réinitialiser  votre mot de passe</h1>
			</div>
			<div class="resetContent">
				<form class="resetContentForm" method="post" action="{{path('resetPassword')}}">
					<div class="resetContentFormInput">
						<input type="email" name="mail" placeholder="Email" required>
						<div class="resetContentFormInputPassword">
							<input type="password" name="password" id="password" oninput="updatePasswordCriteria()" class="password" placeholder="Mot de passe" autocomplete="on" title="Taille 8-24 caractères avec au moins : 1 minuscule / 1 majuscule / 1 chiffre / 1 caractère spécial" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[\W_]).{8,24}$" required>
							<span onclick="changeVisibility()" class="material-symbols-outlined">
								visibility
							</span>
						</div>
						<div id="passwordRequirements" class="resetContentFormInputCritere">
							<span id="lowercase">Au moins une minuscule</span>
							<span id="uppercase">Au moins une majuscule</span>
							<span id="digit">Au moins un chiffre</span>
							<span id="specialChar">Au moins un caractère spécial</span>
							<span id="length">Longueur minimale de 8 caractères</span>
						</div>
						<div class="resetContentFormInputConfirmPassword">
							<input type="password" name="confirmPassword" id="confirmPassword" oninput="validatePasswordMatch()" class="password" placeholder="Confirmer le mot de passe" autocomplete="on" required>
						</div>
						<div class="resetContentFormInputError">
							{% if error is defined and error is not empty %}
								<div>
									<ul>
										{% for errorMessage in error %}
											<li id="error_c">{{ errorMessage }}</li>
										{% endfor %}
									</ul>
								</div>
							{% endif %}
							<span id="passwordMatchMessage">Les mots de passe ne correspondent pas</span>
							<span id="error">Merci de remplir tous les champs</span>
						</div>
						<input type="hidden" name="token" value={{token}}>
						{% if success is defined and success is not empty  %}
							<div class="resetContentFormInputSuccess">
								<div>
									<p id="success">{{ success }}</p>
								</div>
							</div>
						{% endif %}


					</div>
					<button class="resetContentFormButton" type="submit">Valider</button>
					<div class="resetContentFormRecheck">
						<a href="{{path('demandeReset')}}">Renvoyer email de réinitialisation</a>
					</div>
				</form>

			</div>
		</section>
	</main>

{% endblock %}
{% block javascripts %}
	<script src="{{ asset('js/security.js') }}"></script>
{% endblock %}
