{% extends "base.html.twig" %}
{% block title %}Vérification
{% endblock %}
{% block body %}
	<main class="mainVerification">
		<div class="back">
			<span class="material-symbols-outlined">
				<a href="{{path('accueil')}}">

					arrow_back</a>
			</span>


		</div>

		<section class="verification">
			<div class="verificationTitre">
				<h1>Vérifier votre email</h1>
			</div>
			<div class="verificationContent">
				<form class="verificationContentForm" method="post" action="{{path('verification')}}">
					<div class="verificationContentFormInput">
						<input type="email" name="mail" placeholder="Email" required>

						<input type="hidden" name="token" value={{token}}>

						<div class="verificationContentFormInputError">
							{% if error is defined %}
								<div>
									<ul>
										{% for errorMessage in error %}
											<li id="error_c">{{ errorMessage|raw }}</li>
										{% endfor %}
									</ul>
								</div>
							{% endif %}
							<span id="error">Merci de remplir tous les champs</span>
						</div>

						{% if success is defined and success is not empty  %}
							<div class="verificationContentFormInputSuccess">
								<div>
									<p id="success">{{ success }}</p>
								</div>
							</div>
						{% endif %}


					</div>
					<button class="verificationContentFormButton" type="submit">Vérifier</button>
					<div class="verificationContentFormRecheck">
						<a href="{{path('reverification')}}">Renvoyer email de validation</a>
					</div>
				</form>

			</div>
		</section>
	</main>

{% endblock %}
{% block javascripts %}
	<script src="{{ asset('js/security.js') }}"></script>
{% endblock %}
