<header>
	<nav class="navigation">

		<a class="navigationImage" href="{{path('accueil')}}">
			<img src="{{ asset('images/logoJVED.svg') }}">

		</a>

		<ul class="navigationLien">
			<li>
				<a href="{{path('accueil')}}">Actus</a>
			</li>
			<li>
				<a href="{{path('accueil')}}">Jeux Vidéos</a>
			</li>

			{% if user['role'] == 'moderateur' or user['role'] == 'superAdmin' %}
				<li>
					<a href="{{ path('dashboard') }}">Dashboard</a>
				</li>
			{% endif %}


			{# Vérifiez si l'utilisateur est connecté #}
			{% if user is not null %}
				<li>
					<a class="navigationLienProfil" href="{{path('profil')}}">Profil</a>
				</li>
				<li>
					<a class="navigationLienConnexion" href="{{ path('deconnexion') }}">
						Se déconnecter</a>
				</li>

			{% else %}
				<li>
					<a class="navigationLienConnexion" href="{{ path('login') }}">Connexion</a>
				</li>
			{% endif %}


		</ul>

	</nav>
</header>
