<header>
	<nav class="navigation">

		<a class="navigationImage" href="{{path('accueil')}}">
			<img src="{{ asset('images/logoJVED.svg') }}">

		</a>

		<ul class="navigationLien">
			<li>
				<a href="{{path('accueil')}}">Actus</a>
			</li>
			<li>
				<a href="{{path('accueil')}}">Jeux Vidéos</a>
			</li>
			<li>
				<a class="navigationLienConnexion" href="{{path('accueil')}}">Connexion</a>
			</li>
		</ul>

	</nav>
</header>
