<header>
	<nav class="navigation">

		<a class="navigationImage" href="{{path('accueil')}}">
			<img src="{{ asset('images/logoJVED.svg') }}">

		</a>

		<ul class="navigationLien">
			<li>
				<a href="{{path('accueil')}}">Actus</a>
			</li>
			<li>
				<a href="{{path('accueil')}}">Jeux Vidéos</a>
			</li>
			<li>
				<a href="{{path('dashboard')}}">Dashboard</a>
			</li>
			<li>

				{# Vérifiez si l'utilisateur est connecté #}
				{% if user is not null %}

					<a class="navigationLienConnexion" href="{{ path('deconnexion') }}">
						Se déconnecter</a>
				{% else %}

					<a class="navigationLienConnexion" href="{{ path('login') }}">Connexion</a>
				{% endif %}

			</li>
		</ul>

	</nav>
</header>
