{% extends "base.html.twig" %}
{% block title %}Dashboard | Gestion Catégories
{% endblock %}
{% block body %}
	{{ include('./partials/header.html.twig') }}
	<main class="mainGestion">
		<section class="gestion">
			<div class="gestionTitre">
				<h1 class="gestionTitrePrincipal">Gestion des catégories</h1>
				<p class="gestionTitreTexte">Ajouter de nouvelles catégories ici</p>

			</div>
			<div class="gestionNavigation">
				<a href="{{path('dashboard')}}">Retour Dashboard</a>
			</div>
			<div class="gestionCrud">
				<h2 class="gestionCrudTitre">{{'Liste de toutes les catégories'|upper}}</h2>
				<div class="gestionCrudTableau">

					<table class="gestionCrudTableauContent">
						<thead>
							<tr>
								<th>ID</th>
								<th>NOM</th>
								<th>CREER</th>
								<th>MODIFIER</th>
								<th>SUPPRIME</th>
								<th>ACTION</th>
							</tr>
						</thead>
						<tbody>
							{% for categorie in categories %}


								<form action="{{ path('categories_edit') }}" method="post">
									<tr class="{{ cycle(['gestionCrudTableauContentOdd-row', 'gestionCrudTableauContentEven-row'], loop.index) }}">
										<td>{{ categorie['id'] }}</td>
										<td>{{ categorie['nom'] }}</td>
										<td>{{ categorie['createdAt']|date("d-m-Y") }}</td>
										<td>{{ categorie['updatedAt']|date("d-m-Y") }}</td>
										<td>{{ categorie['deletedAt'] is not null ? categorie['deletedAt']|date("d-m-Y")  : ''}}</td>
										<td>
											<button type="submit" class="boutonUpdate">Modifier</button>
											/
											{% if categorie['deletedAt'] is null %}
												<button type="submit" name="submitDelete" class="boutonDelete" onclick="return confirm('Êtes vous sur de vouloirs le supprimer ?')">Supprimer</button>
											{% else %}
												<button type="submit" name="submitRestore" class="boutonRestore" onclick="return confirm('Êtes vous sur de vouloirs le restaurer ?')">Restaurer</button>
											{% endif %}
											<input type="hidden" name="id" value="{{ categorie['id'] }}">
											<input type="hidden" name="nom" value="{{ categorie['nom'] }}">
											<input type="hidden" name="createdAt" value="{{ categorie['createdAt'] }}">
											<input type="hidden" name="updatedAt" value="{{ categorie['updatedAt'] }}">
											<input type="hidden" name="deletedAt" value="{{ categorie['deletedAt'] }}">
										</td>
									</tr>
								</form>
							{% endfor %}
						</tbody>
					</table>
					<div class="gestionCrudTableauAdd">
						<a href="{{ path('categories_add') }}">Ajouter une catégorie</a>
					</div>

				</div>
			</div>
		</section>
	</main>

	{{ include('./partials/footer.html.twig') }}
{% endblock %}
