{% extends "base.html.twig" %}

{% block body %}
	{{ include('./partials/header.html.twig') }}


	<main class="mainGestion">
		<section class="gestion">
			<div class="gestionCard">
				<div class="gestionNavigation">
					<a href="{{path('categories')}}">Retour Gestion Catégories</a>
				</div>
				<div class="gestionTitre">
					<h1 class="gestionTitrePrincipal">Ajouter une catégorie</h1>

				</div>

				<div class="gestionCrud">
					<div class="gestionCrudTableau">

						<form class="inscriptionContentForm" method="POST" action="{{ path('categories_add') }}" onsubmit="return validateFormAddUser()">
							<div class="inscriptionContentFormInput">
								<input type="text" name="nom" placeholder="Catégorie" minlength="3" maxlength="15" required>
							</div>
							<button class="inscriptionContentFormButton" name="submitAdd" type="submit">Ajouter la catégorie</button>
						</form>
						<div class="gestionCrudTableauListe">
							<h2 class="gestionCrudTableauListeTitre">Liste des catégories existantes</h2>
							<ul class="gestionCrudTableauListeCategorie">
								{% for categorie in categories %}
									<li>{{categorie['nom']}}</li>
								{% endfor %}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>

	{{ include('./partials/footer.html.twig') }}
{% endblock %}
