{% extends "base.html.twig" %}

{% block body %}
	{{ include('./partials/header.html.twig') }}

	<main class="mainGestion">
		<section class="gestion">
			<div class="gestionCard">
				<div class="gestionNavigation">
					<a href="{{path('categories')}}">Retour Gestion Catégories</a>
				</div>
				<div class="gestionTitre">
					<h1 class="gestionTitrePrincipal">Modifier la catégorie</h1>

				</div>

				<div class="gestionCrud">
					<div class="gestionCrudTableau">

						<form class="inscriptionContentForm" method="POST" action="{{ path('categories_edit') }}">
							<div class="inscriptionContentFormInput">
								<input type="text" name="nom" placeholder="Nom de la Catégorie" minlength="3" value="{{ data['nom'] }}" required>

								<input type="hidden" name="id" value="{{data['id']}}">
								<div class="inscriptionContentFormInputError">
									{% if error is defined and error is not empty %}
										<div>
											<ul>
												{% for errorMessage in error %}
													<li id="error_c">{{ errorMessage }}</li>
												{% endfor %}
											</ul>
										</div>
									{% endif %}
									<span id="error">Merci de remplir tous les champs</span>
								</div>
							</div>
							<button class="inscriptionContentFormButton" name="submitUpdate" type="submit">Modifier la catégorie</button>
						</form>

					</div>
				</div>
			</div>
		</section>
	</main>

	{{ include('./partials/footer.html.twig') }}
{% endblock %}
