{% extends "base.html.twig" %}

{% block body %}
	{{ include('./partials/header.html.twig') }}
	{# <div class="container mt-5">
				<div class="row justify-content-center">
					<div class="col-md-6">
						<h1 class="display-1">Modifier le sujet</h1>
		
						{% if data %}
							<form method="post" action="{{ path('categories_edit') }}">
								<input type="hidden" name="id" value="{{ data['id'] }}">
								<div class="mb-3">
									<label for="nom" class="form-label">Nom</label>
									<input type="text" class="form-control" id="nom" name="nom" value="{{ data['nom'] }}">
								</div>
								<div class="mb-3">
									<label for="updatedAt" class="form-label">Modifié le</label>
									<input type="text" class="form-control" id="updatedAt" name="updatedAt" value="{{ data['updatedAt'] }}" disabled>
								</div>
		
								<button type="submit" class="btn btn-primary" name="submitUpdate">Enregistrer les modifications</button>
							</form>
						{% else %}
							<p>Le sujet que vous essayez de modifier n'existe pas.</p>
						{% endif %}
					</div>
				</div>
			</div> #}
	<main class="mainGestion">
		<section class="gestion">
			<div class="gestionCard">
				<div class="gestionNavigation">
					<a href="{{path('categories')}}">Retour Gestion Catégories</a>
				</div>
				<div class="gestionTitre">
					<h1 class="gestionTitrePrincipal">Modifier la catégorie</h1>

				</div>

				<div class="gestionCrud">
					<div class="gestionCrudTableau">

						<form class="inscriptionContentForm" method="POST" action="{{ path('categories_edit') }}">
							<div class="inscriptionContentFormInput">
								<input type="text" name="nom" placeholder="Nom de la Catégorie" minlength="3" value="{{ data['nom'] }}" required>

								<input type="hidden" name="id" value="{{data['id']}}">
								<div class="inscriptionContentFormInputError">
									{% if error is defined and error is not empty %}
										<div>
											<ul>
												{% for errorMessage in error %}
													<li id="error_c">{{ errorMessage }}</li>
												{% endfor %}
											</ul>
										</div>
									{% endif %}
									<span id="error">Merci de remplir tous les champs</span>
								</div>
							</div>
							<button class="inscriptionContentFormButton" name="submitUpdate" type="submit">Modifier la catégorie</button>
						</form>

					</div>
				</div>
			</div>
		</section>
	</main>

	{{ include('./partials/footer.html.twig') }}
{% endblock %}
