{% extends "base.html.twig" %}

{% block body %}
	{{ include('./partials/header.html.twig') }}
	<main class="mainGestion">
		<section class="gestion">
			<div class="gestionCard">
				<div class="gestionNavigation">
					<a href="{{path('users')}}">Retour Gestion Users</a>
				</div>
				<div class="gestionTitre">
					<h1 class="gestionTitrePrincipal">Modifier un utilisateur</h1>

				</div>

				<div class="gestionCrud">
					<div class="gestionCrudTableau">

						<form class="inscriptionContentForm" method="POST" action="{{ path('users_edit') }}">
							<div class="inscriptionContentFormInput">
								<input type="text" name="pseudo" placeholder="Pseudo" minlength="3" maxlength="15" value="{{ data['pseudo'] }}" required>
								<input type="mail" name="email" placeholder="{{ data['email'] }}">
								<div class="inscriptionContentFormInputPassword">
									<input type="password" name="password" id="password" oninput="updatePasswordCriteria()" class="password" placeholder="Mot de passe" autocomplete="on" title="Taille 8-24 caractères avec au moins : 1 minuscule / 1 majuscule / 1 chiffre / 1 caractère spécial" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[\W_]).{8,24}$">
									<span onclick="changeVisibility()" class="material-symbols-outlined">
										visibility
									</span>
								</div>
								<div id="passwordRequirements" class="inscriptionContentFormInputCritere">
									<span id="lowercase">Au moins une minuscule</span>
									<span id="uppercase">Au moins une majuscule</span>
									<span id="digit">Au moins un chiffre</span>
									<span id="specialChar">Au moins un caractère spécial</span>
									<span id="length">Longueur minimale de 8 caractères</span>
								</div>
								<select name="idRole" class="selectRole">
									{% for role in roles %}
										<option value="{{ role.id }}" {{ data['idRole'] == role.roleName ? 'selected' : '' }}>{{ role.roleName|capitalize }}</option>
									{% endfor %}
								</select>
								<input type="hidden" name="id" value="{{data['id']}}">
								<div class="inscriptionContentFormInputError">
									{% if error is defined and error is not empty %}
										<div>
											<ul>
												{% for errorMessage in error %}
													<li id="error_c">{{ errorMessage }}</li>
												{% endfor %}
											</ul>
										</div>
									{% endif %}
									<span id="error">Merci de remplir tous les champs</span>
								</div>
							</div>
							<button class="inscriptionContentFormButton" name="submitUpdate" type="submit">Modifier l'utilisateur</button>
						</form>

					</div>
				</div>
			</div>
		</section>
	</main>

	{{ include('./partials/footer.html.twig') }}
{% endblock %}
{% block javascripts %}
	<script src="{{ asset('js/security.js') }}" defer></script>
{% endblock %}
