{% extends "base.html.twig" %}
{% block title %}Dashboard | Gestion users
{% endblock %}
{% block body %}
	{{ include('./partials/header.html.twig') }}
	<main class="mainGestion">
		<section class="gestion">
			<div class="gestionTitre">
				<h1 class="gestionTitrePrincipal">Gestion des utilisateurs</h1>
				<p class="gestionTitreTexte">Administrer tous les utilisateurs à partir d'ici</p>

			</div>
			<div class="gestionNavigation">
				<a href="{{path('dashboard')}}">Retour Dashboard</a>
			</div>
			<div class="gestionCrud">
				<h2 class="gestionCrudTitre">{{'Liste de tous les utilisateurs'|upper}}</h2>
				<div class="gestionCrudTableau">

					<table class="gestionCrudTableauContent">
						<thead>
							<tr>
								<th>ID</th>
								<th>PSEUDO</th>
								<th>EMAIL</th>
								<th>ROLE</th>
								<th>BLOQUE</th>
								<th>CREER</th>
								<th>MODIFIER</th>
								<th>SUPPRIME</th>
								<th>ACTION</th>
							</tr>
						</thead>
						<tbody>
							{% for user in users %}


								<form action="{{ path('users_edit') }}" method="post">
									<tr class="{{ cycle(['gestionCrudTableauContentOdd-row', 'gestionCrudTableauContentEven-row'], loop.index) }}">
										<td>{{ user['id'] }}</td>
										<td>{{ user['pseudo'] }}</td>
										<td>{{ user['email'] }}</td>
										<td>{{ user['roleName'] }}</td>
										<td>{{ user['bloque'] is not null ? 'Oui' : 'Non'}}
										</td>
										<td>{{ user['createdAt']|date("d-m-Y") }}</td>
										<td>{{ user['updatedAt']|date("d-m-Y") }}</td>
										<td>{{ user['deletedAt'] is not null ? user['deletedAt']|date("d-m-Y")  : ''}}</td>
										<td>
											<button type="submit" class="boutonUpdate">Modifier</button>
											/
											{% if user['deletedAt'] is null %}
												<button type="submit" name="submitDelete" class="boutonDelete" onclick="return confirm('Êtes vous sur de vouloirs le supprimer ?')">Supprimer</button>
											{% else %}
												<button type="submit" name="submitRestore" class="boutonRestore" onclick="return confirm('Êtes vous sur de vouloirs le restaurer ?')">Restaurer</button>
											{% endif %}
											<input type="hidden" name="id" value="{{ user['id'] }}">
											<input type="hidden" name="pseudo" value="{{ user['pseudo'] }}">
											<input type="hidden" name="email" value="{{ user['email'] }}">
											<input type="hidden" name="idRole" value="{{ user['roleName'] }}">
											<input type="hidden" name="bloque" value="{{ user['bloque'] }}">
											<input type="hidden" name="createdAt" value="{{ user['createdAt'] }}">
											<input type="hidden" name="updatedAt" value="{{ user['updatedAt'] }}">
											<input type="hidden" name="deletedAt" value="{{ user['deletedAt'] }}">
										</td>
									</tr>
								</form>
							{% endfor %}
						</tbody>
					</table>
					<div class="gestionCrudTableauAdd">
						<a href="{{ path('users_add') }}">Ajouter un utilisateur</a>
					</div>

				</div>
			</div>
		</section>
	</main>
	{{ include('./partials/footer.html.twig') }}
{% endblock %}
