{% extends "base.html.twig" %}
{% block title %}Dashboard | Topics en attente de validation
{% endblock %}
{% block body %}
	{{ include('./partials/header.html.twig') }}
	<main class="mainGestion">
		<section class="gestion">
			<div class="gestionTitre">
				<h1 class="gestionTitrePrincipal">Gestion des topics en attente de validation</h1>
				<p class="gestionTitreTexte">Gérer la validation des topics, si vous avez un doute pensez à regarder les règles.</p>

			</div>
			<div class="gestionNavigation">
				<a href="{{path('dashboard')}}">Retour Dashboard</a>
			</div>
			<div class="gestionCrud">
				<h2 class="gestionCrudTitre">{{'Topics en attente de validation'|upper}}</h2>
				<div class="gestionCrudTableau">

					<table class="gestionCrudTableauContent">
						<thead>
							<tr>
								<th>ID</th>
								<th>NOM</th>
								<th>SUJET</th>
								<th>AUTEUR</th>
								<th>VALIDE</th>
								<th>CREER</th>
								<th>ACTION</th>
							</tr>
						</thead>
						<tbody>
							{% for topic in postsWaitingValidation %}


								<form action="{{ path('editValidationPosts') }}" method="post">
									<tr class="{{ cycle(['gestionCrudTableauContentOdd-row', 'gestionCrudTableauContentEven-row'], loop.index) }}">
										<td>{{ topic['id'] }}</td>
										<td>
											<a href="{{ path('contents', {'id': topic['id']} ) }}">{{ topic['nom'] }}</a>
										</td>
										<td>{{ topic['nomSujet'] }}</td>
										<td>{{ topic['auteur'] }}</td>
										<td>{{ topic['valide'] is null ? 'Oui' : 'Non'}}</td>
										<td>{{ topic['createdAt']|date("d-m-Y") }}</td>

										<td>
											<button type="submit" name="submitAccept" class="boutonUpdate">Accepter</button>
											/
											<button type="submit" name="submitDelete" class="boutonDelete" onclick="return confirm('Êtes vous sur de vouloirs le refuser, cela le supprimera définitivement ?')">Refuser</button>


											<input type="hidden" name="id" value="{{ topic['id'] }}">
											<input type="hidden" name="nom" value="{{ topic['nom'] }}">
											<input type="hidden" name="nomSujet" value="{{ topic['nomSujet'] }}">
											<input type="hidden" name="auteur" value="{{ topic['auteur'] }}">
											<input type="hidden" name="createdAt" value="{{ topic['createdAt'] }}">
										</td>
									</tr>
								</form>
							{% endfor %}
						</tbody>
					</table>

				</div>
			</div>
		</section>
	</main>

	{{ include('./partials/footer.html.twig') }}
{% endblock %}
